---
import { Icon } from "astro-icon/components";

import { type NavBarLink } from "@/types/config";
import { url } from "@utils/url";


interface Props {
    link: NavBarLink;
    class?: string;
}

const { link, class: className } = Astro.props;
---

<div class:list={["nav-link-container", className]}>
    <a
        aria-label={link.name}
        href={link.external ? link.url : url(link.url)}
        target={link.external ? "_blank" : null}
        class="btn-plain scale-animation rounded-lg h-11 font-bold px-3 active:scale-95 nav-link-item"
        data-link-name={link.name}
    >
        <div class="flex items-center">
            {link.icon && <Icon name={link.icon} class="text-[1.1rem] nav-link-icon" />}
            <span class="nav-link-text ml-2 hidden lg:inline">{link.name}</span>
            {link.external && <Icon name="fa6-solid:arrow-up-right-from-square" class="text-[0.875rem] transition -translate-y-[1px] ml-1 text-black/[0.2] dark:text-white/[0.2]" />}
        </div>
    </a>
</div>

<style>
    .nav-link-container {
        @apply relative;
    }

    /* 小屏幕时只显示图标 */
    @media (max-width: 1023px) {
        .nav-link-item {
            @apply w-11 px-0 flex items-center justify-center;
        }

        .nav-link-text {
            @apply hidden;
        }

        .nav-link-icon {
            @apply ml-0;
        }
    }

    /* 大屏幕时显示图标+文字 */
    @media (min-width: 1024px) {
        .nav-link-item {
            @apply px-3;
        }

        .nav-link-text {
            @apply inline;
        }
    }
</style>